

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.linegraph-container .highcharts-range-selector-buttons {
    display: none;
}

.left-filter-controls-container {
    position: absolute;
    left: 5%;
    right: 85%;
    top: 0;
    padding-top: 40px;

}
.right-filter-controls-container {
    position: absolute;
    left: 5%;
    right: 85%;
    top: 400px;
}

.table-scrollable {
    margin: 0;
    padding: 0;
}

.foobar-list__item--active {
    background:  rgb(124, 181, 236) !important;
    color: white;
}

.players-table-container {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    height: 650px;
    padding-top: 60px;
}

.players-table-container > .players-table {
    position: relative;
    width: 100%;
    height: 100%;
}

.players-table > .players-table-head {
    position: relative;
    background: #e7e7e7;
    padding: 12px;
    cursor: pointer;
    border: 2px solid transparent;
}

.players-table > .players-table-head:hover {
    background: #eee;
    border: 2px solid #e7e7e7;
}

.players-table > .players-table-body {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}

.players-table-head > .players-table-hcell {
    line-height: 16px;
    font-size: 15px;
    overflow: auto;
}

.players-table-head > .players-table-bcell {

}

.players-table-body > .players-table-row {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #e7e7e7;
}

.linegraph-container {
    position: absolute;
    left: 15%;
    top: 0;
    right: 35%;
    height: 500px;
    padding-top: 40px;

}

.linegraph-container .highcharts-title {
    font-size: 19px !important;
    padding-bottom: 16px !important;
}

.foobar-list {
    max-height: 275px;
    overflow-y: scroll;
}

.foobar-list > .foobar-list__item {
    padding: 8px;
    width: 100%;
    cursor: pointer;
    background: white;
    border: 2px solid transparent;
    line-height: 14px;
    text-align: center;
}

.foobar-list > .foobar-list__item:hover {
    background: #eee;
    border: 2px solid #e7e7e7;
}