<!DOCTYPE html>
<head>
    <link rel="icon" href="/assets/img/rv-favicon.ico"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Georgia Tech CS4460 Project | Team FooBar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <!--vendor-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--angularrr-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!--highcharts-->
    <!--<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>-->
    <!--<script type="text/javascript" src="http://code.highcharts.com/modules/heatmap.js"></script>-->
    <!--<script type="text/javascript" src="http://code.highcharts.com/modules/treemap.js"></script>-->
    <!--highstock-->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="/vendor/papaparse/papaparse.js"></script>

    <!--vendor bootstrap styles-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!--OURS-->
    <!--styles-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <!--scripts-->
    <script type="application/javascript" src="/scripts/main.js"></script>
</head>
<body>

<div ng-app="FooBar">

    <div ng-controller="FooBarCtrl" class="container">
        <div class="left-filter-controls-container">
            <h4>Positions</h4>

            <div class="foobar-list">
                <div data-ng-repeat="(key, value) in positions" class="foobar-list__item"
                     data-ng-click="filterPosition(key)"
                     data-ng-class="{'foobar-list__item--active': key === filters.pos}">
                    <span>{{key + ' (' + value.count + ' players)'}}</span>
                </div>
            </div>
        </div>
        <div class="linegraph-container" id="linegraph-container"></div>
        <div class="right-filter-controls-container">
            <h4>Metrics</h4>

            <div class="foobar-list">
                <div ng-repeat="metric in Player.metrics" class="foobar-list__item"
                     ng-click="filterMetric(metric)"
                     data-ng-class="{'foobar-list__item--active': metric == filters.metric}">
                    <span>{{metric.value}}</span>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="players-table-container">
            <input class="form-control" type="text"
                   placeholder="Search for a player."
                   style="margin-bottom: 16px;"
                   ng-model="filters.playerSearch"/>
            <div class="players-table">
                <div class="players-table-head" ng-click="toggleFilter()">
                    <i class="glyphicon" style="padding: 0 8px 0 4px;" ng-class="{'glyphicon-chevron-up': filters.reverse, 'glyphicon-chevron-down': !filters.reverse}"></i>
                    <span class="players-table-hcell">Displaying {{filters.pos}} players {{filters.metric.value}}</span>
                    <span class="pull-right">College (Conference)</span>
                </div>
                <div class="players-table-body">
                    <div class="players-table-row" ng-repeat="player in activePlayers | orderBy: filters.metric.key:filters.reverse | filter:filters.playerSearch">
                        <span class="players-table-bcell">{{player.name}} - {{player[filters.metric.key]}} in {{player.combineYear}}</span>
                        <span class="pull-right">{{player.college}} ({{player.conference}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
